:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --white-color: #ffffff;
  --contact-color: rgba(255, 255, 255, 0.6);
  --bg-color: #2f303a;
  --text-shadow: rgba(0, 0, 0, 0.25);
  --site-bg: #f5f5f5;
  --bg-button: #f5f4fa;
  --hidden-bg: #188ce8;
  --herader-border: #ececec;
  --border-bottom: #eeeeee;
  --overlay: rgba(47, 48, 58, 0.4);
  --overlay2: #c4c4c4;
  --bg-logo: #afb1b8;
  --bg-social: rgba(255, 255, 255, 0.1);
  --modal-bg: rgba(0, 0, 0, 0.2);
  --checkholder: rgba(117, 117, 117, 0.5);

  $fontPrimary: Roboto, sans-serif;
  $fontLogo: Raleway, sans-serif;
}
