.site-header {
    background: var(--white-color);
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: var(--herader-border);
}

.header-container {
    display: flex;
    align-items: center;
}
