.preority__item {
  padding-left: 0px;

  @media screen and (min-width: 768px) {
    display: flex;
    padding-left: 0;
    gap: 30px;
    flex-wrap: wrap;
  }
}

.preority__list {
  padding: 0;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 30px) / 2);

  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.icons {
  @include centeredFlex;
  width: 100%;
  height: 120px;
  background: var(--bg-button);
  border-radius: 4px;
  margin-bottom: 30px;
}

.icons__img {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

.preority__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.preority__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
